<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
  <strong>Fruit_Name</strong>
  <% @student.fruit_name.each do |x| %>
  <%= x %>
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
